<head>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                                                             crossorigin="anonymous"></script>
   <script type="text/javascript">
function up_vote (id, counter) {
   $.get("/upvote/" + id, function(data) {
      console.log('Counter Incremented');
      console.log(counter);
      document.getElementById('up_vote_text_' + id).value = counter+1;
   });
}
   </script>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
   <h1>Fetches all the post {{ user }} </h1>
   <ul>
      {% for post in user_posts %}
      <li> {{ post.title }} </li>
      <button class="btn btn-primary" onclick="up_vote({{post.id}}, {{ post.up_vote_count }} )">Upvote</button>
      <input type="text"  id="up_vote_text_{{ post.id }}" value="{{ post.up_vote_count }}">
      {% endfor %}
   </ul>
   <h1>Write posts</h1>
   <a href="/profile/write">Write Post</a>
   <h1>All user posts</h1>
   <ul>
      {% for post in latest_posts %}
      <li> {{ post.title }} </li>
      <button class="btn btn-primary" onclick="up_vote({{post.id}}, {{ post.up_vote_count }} )">Upvote</button>
      <input type="text" id="up_vote_text_{{ post.id }}" value="{{ post.up_vote_count }}">
      <br><br>
      {% endfor %}
   </ul>
</body>
