<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "basic/assets/css/style.css" %}">
  </head>
  <body>
    <p>Register Page</p>
    <h1>Welcome to register page</h1>
    <form action="/register/" method="Post">
      {% csrf_token %}
      <div class="container">
	<label>UserName<label>
	  <input type="text" placeholder="Enter user name" name="User Name" required>
      </div>
    </form>
  </body>
</html>
